#main {
    display: flex;
    flex-wrap: wrap;
}

#main>div>.curso {
    display: inline-flex;
    border: solid 4px transparent;
    border-radius: 0.8rem;
    border-image: linear-gradient(45deg, #4d5bf9, rgb(255, 123, 0)) 1;
    background-clip: padding-box;
    border-radius: 8px;
    max-height: 28vh;
    min-height: 28vh;
    max-width: 25vw;
    min-width: 25vw;
    margin: 5px;
    padding: 2px;
}

#main>div {
    text-align: center;
}

.curso:nth-child(3n+1)>div {
    background-image: url('../../../media/Spring-boot.jpg');
}

.curso:nth-child(3n+2)>div {
    background-image: url('../../../media/fullstacktera.jpg');
}

.curso:nth-child(3n+3)>div {
    background-image: url('../../../media/cursonode.jpg') !important;
}

.curso>div {
    position: relative;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

.matricule-se {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background-color: #4d5bf9;
    padding: 4px;
    border-radius: 10px;
}

.views {
    color: black;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-color: rgba(226, 226, 226, 0.5);
    padding: 4px;
    border-radius: 10px;
}

.views:hover {
    cursor: pointer;
    background-color: rgba(226, 226, 226, 1);
}

.views .icon {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.views .text {
    display: inline-block;
    vertical-align: middle;
}

#search-bar {
    display: relative;
    width: 100%;
    margin-bottom: 5px;
}

#search-bar>ion-item {
    display: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#search-bar #pesquisar {
    height: 30px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}

#search-bar #pesquisar:focus {
    outline: none
}

#search-bar button {
    height: 32px;
    width: 40px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    padding-top: 2px;
}

#search-bar button:hover {
    background-color: #ccc;
    border: 1px solid white;
}