<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <meta charset="UTF-8"><style data-styles="">ion-icon{visibility:hidden}.hydrated{visibility:inherit}</style>
        <title>Plataforma de Cursos</title>
        <!----CSS link----->
        <link rel="stylesheet" href="assets/nav/css/nav.css">
        <link rel="stylesheet" href="assets/general/css/global.css">
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js" data-stencil-namespace="ionicons"></script><script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js" data-stencil-namespace="ionicons"></script></head>
</head>
<body>
    
        <div class="navigation">
    
            <ul>
                <li class="list active">
                    <b></b>
                    <b></b>
                    <a href="../index.html">
                        <span class="icon">
                            <ion-icon name="globe" role="img" class="md hydrated" aria-label="globe"></ion-icon>
                        </span>
                        <span class="title">Perfil</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="">
                        <span class="icon">
                            <ion-icon name="home-outline" role="img" class="md hydrated" aria-label="home outline"></ion-icon>
                        </span>
                        <span class="title">Meus Cursos</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="perfil.html">
                        <span class="icon">
                            <ion-icon name="person-outline" role="img" class="md hydrated" aria-label="person outline"></ion-icon>
                        </span>
                        <span class="title">Perfil</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="perfil.html">
                        <span class="icon">
                            <ion-icon name="chatbubbles-outline" role="img" class="md hydrated" aria-label="chatbubbles outline"></ion-icon>
                        </span>
                        <span class="title">Mensagens</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="login.html">
                        <span class="icon">
                            <ion-icon name="log-out-outline" style="transform: rotate(180deg);" role="img" class="md hydrated" aria-label="log out outline"></ion-icon>
                        </span>
                        <span class="title">Sair</span>
                    </a>
                </li>
            </ul>
        </div>
    
        <div id="main">
            <div>
                <div class="curso">
                    <div>
                        
            <div class="toggle">
                <ion-icon name="menu-outline" class="open md hydrated" role="img" aria-label="menu outline"></ion-icon>
                <ion-icon name="close-outline" class="close md hydrated" role="img" aria-label="close outline"></ion-icon>
            </div>
    
            <!----Font Icon---->
            <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
            <!----JS CDN Link---->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <!---Custom File---->
            <script src="perfil.js"></script>
    
    
    </div>

</body>


    <div class="wrapperr">
      <div class="img-logoo">
        <img src="../media/download (1).png">
      </div>
      <h3 class="h3n">Informação code</h3>
      <p class="p1">Front-end  <br>
      <b>Full Stack</b>
      </p>


      <div class="media-info">
        <ul class="ul2">
          <li>
            <span><input class="inputt" type="text"></span> Nome
          </li>
          <li>
            <span><input class="inputt" type="number"></span> idade
          </li>
          <li>
            <span><input class="inputt" type="text"></span> profissão
          </li>
        </ul>
      </div>
      <div class="icons">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-github-square"></i></a>
        <a href="#"><i class="fab fa-telegram"></i></a>
      </div>
      <div class="btn">

        <button>Editar</button>
        <button>Salvar</button>


      </div>
    </div>




</html>